<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <!--jQuery-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
   <!--AngularJS-->
   <script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>
   
   <!--Bootstrap CSS-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <!--Bootstrap JS-->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   

   <script src="js/app.js"></script>
   <script src="js/formController.js"></script>
   <script src="js/tableController.js"></script>
   <!--<script src="js/resultsController.js"></script>-->
   
   <style>
   .table th, .table td, table, .table {
      width: auto !important;
      margin: auto;
      text-align: center; 
   }
   </style>
   
</head>

<body>
<div class="container" ng-app="lineupApp" ng-init="radio='NBA'">

   <div ng-controller="formController">
      <h2 class="text-center">Insert Players</h2>
      
      <div class="text-center">
         <div class="radio">
            <label>
               <input type="radio" value="NBA" ng-model="radio" ng-change="radChange(radio)">
               NBA
            </label>
         </div>
         <div class="radio">
            <label>
               <input type="radio" value="NFL" ng-model="radio" ng-change="radChange(radio)">
               NFL
            </label>
         </div>
      </div>
      
      <form class="form-inline text-center" role="form">
         <div class="form-group">
            <label for="playerName">Name:</label>
            <input type="text" class="form-control" placeholder="Enter player name" ng-model="name">
         </div>
         
         <div class="form-group">
            <label for="playerTeam">Team: </label>
            <select class="form-control" ng-model="team">   
               <option ng-repeat="team in teams">{{ team }}</option>     
            </select>
         </div>
         
         <div class="form-group">
            <label for="playerPosition">Position:</label>
            <select class="form-control" ng-model="position">
               <option ng-repeat="position in positions">{{ position }}</option>
            </select>
         </div>
         
         <div class="form-group">
            <label for="playerSalary">Salary:</label>
            <div class="input-group">
               <div class="input-group-addon">$</div>
               <input type="text" class="form-control" placeholder="Salary" ng-model="salary">
               <div class="input-group-addon">.00</div>
            </div>
         </div>

         <a class="btn btn-primary">Insert</a>
         <a class="btn btn-warning">Generate</a>
      </form>
   
   </div>
   
   <br>
   
   <table class="table table-bordered table-hover" ng-controller="tableController">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>LeBron James</td>
        <td>CLE</td>
        <td>SF</td>
        <td>$10,200</td>
      </tr>
    </tbody>
  </table>


</div>

<br>

</body>
</html>


